<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shoppmeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoppmeapp"
        tools:targetApi="31">

        <!-- MainActivity is the main/launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignInActivity and SignUpActivity -->
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />

        <!-- HomeActivity -->
        <activity
            android:name=".HomeActivity"
            android:launchMode="standard" />


        <activity
            android:name=".ImageDisplay"
            android:launchMode="standard" />

        <activity android:name=".ViewCartActivity"
            android:launchMode="standard"/>

        <activity android:name=".CheckoutActivity"
            android:launchMode="standard"/>

        <!-- Other activities and components -->

    </application>

</manifest>
